<div id="fullpage">

            <div id="headert" class="section">
                <div id="introTextContainer" >
                    <span class="major">Découvrir</span>
                    <span class="major">L'immobilier de </span>
                    <span class="major">luxe</span>
                    <span class="minor">Que du prestige</span>
                </div>
              
            </div>
            <div id="lol" class="section">
        
            </div>
        </div> 